@(connected: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Websocket Chat-Room</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/swfobject.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/web_socket.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/script.js")' type="text/javascript"></script>
        <script type="text/javascript">
			var active_flag = true;
			var notiflag = false;
			
			function switchNotifyDispByFlag(){
				
				if(notiflag == true){
					$("#btnNotification").addClass("success");
					$("#btnNotification").removeClass("danger");
					$("#notifspan").html("ON")
				}else{
					$("#btnNotification").addClass("danger");
					$("#btnNotification").removeClass("success");
					$("#notifspan").html("OFF")
				}
				
			}
			
			
			function switchNotiflagByPermission(){
				switch(Notification.permission){
				case "granted":
					notiflag = true;
					break;
				case "default":
				case "denied":
					notiflag = false;
					break;
				}
			}
			
			function reqPermCallback(){
				switchNotiflagByPermission();
				switchNotifyDispByFlag();
			}
			
			$(function(){
				switchNotiflagByPermission();
				switchNotifyDispByFlag();
				
	    		$("#btnNotification").on("click", function(){
					switch(Notification.permission){
					case "granted":
						if(notiflag == true){
							notiflag = false;
						}else{
							notiflag = true;
						}
						switchNotifyDispByFlag();
						break;
						
					case "default":
						//まだ許可されてないので許可を貰いに行く
		    			Notification.requestPermission(reqPermCallback());
						break;
						
					case "denied":
						alert("ブラウザの設定で通知の拒否を解除してください");
						break;
					}
	    		});
			});
		</script>
    </head>
    <body onblur="active_flag=false;" onfocus="active_flag=true;">
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index2()">Websocket Chat-Room</a>
                    <button class="btn" id="btnNotification">Desktop通知切り替え【<span id="notifspan">OFF</span>なう】</button>
                    
                    @if(connected != null) {
                        <p class="pull-right">
                            Logged in as @connected —
                            <a href="@routes.Application.index2()">Disconnect</a>
                        </p>
                    } else {
                        <form action="@routes.Application.chatRoom()" class="pull-right">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <button class="btn" type="submit">Sign in</button>
                        </form>
                    }
                    
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                @content
            </div>

            <footer>
                <p>
                    <a href="http://www.playframework.com">www.playframework.com</a>
                </p>
            </footer>

        </div>
        
    	<script type="text/javascript">
    		var WEB_SOCKET_SWF_LOCATION = "@routes.Assets.at("javascripts/WebSocketMain.swf")";
    	</script>
        
    </body>
</html>
